<ion-content overflow-scroll="false">
    <div class="list padding">
        <div>
            <label class="item item-input">
                <span class="input-label">{{'city' | translate}}</span>
                <span>{{agent.city}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label">{{'telephone' | translate}}</span>
                <span>{{agent.telephone}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label">{{'fax' | translate}}</span>
                <span>{{agent.fax}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label">{{'email' | translate}}</span>
                <span>{{agent.email}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label">{{'website' | translate}}</span>
                <span>{{agent.website}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label">{{'other_information' | translate}}</span>
                <span>{{agent.other_information}}</span>
            </label>
        </div>
    </div>
</ion-content>
