<ion-view view-title="{{'home' | translate}}">
    <ion-nav-title>
        <img class="" src="img/logo.png">
    </ion-nav-title>
    <ion-content>

        <!-- img swiper -->
        <div class="homebanner-swiper-container">
            <img class="loading-image" src="img/loading.gif">
            <ion-slide-box delegate-handle="image-viewer" show-pager="true"
                    auto-play="true" does-continue="true"
                    slide-interval="3000" on-slide-changed="goFirst($index)"
                    >
                <ion-slide ng-repeat="img in banner1" ng-init="updateSlider()">
                    <img class="fullwidth" ng-src="{{img}}"><span></span>
                </ion-slide>
            </ion-slide-box>
        </div>
        <!-- end img swiper -->
        <div class="list list-inset">
            <form id="search" ng-submit="onSearch()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input  type="text" placeholder="{{'enter_the_key' | translate}}" ng-model="searchData.text">
            </label>
            <button  type="submit" class="button button-full button-assertive">{{'quick_search' | translate}}</button>
            </form>
        </div>

        <div class="padding-horizontal">
            <div class="button-bar">
                <a href="#app/searchAdv" class="button button-light icon icon-top ion-ios-search-strong"><br>
                    {{'product_searchadv' | translate}}</a>
                <a href="#app/lists/daily_sale" class="button button-light icon icon-top ion-ios-pricetags-outline"><br>
                    {{'latest_promotions' | translate}}</a>
                <a href="#app/lists/new" class="button button-light icon icon-top ion-ios-star-outline"><br>
                    {{'common_products' | translate}}</a>
            </div>
            <div class="button-bar">
                <a href="#app/certDownload" class="button button-light icon icon-top ion-clipboard"><br>
                    {{'cert_download' | translate}}</a>
                <a href="#app/searchAgent" class="button button-light icon icon-top ion-ios-location"><br>
                    {{'search_agent' | translate}}</a>
                <a href="#app/frame/survey" class="button button-light icon icon-top ion-android-checkbox-outline"><br>
                    {{'survey' | translate}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>
