<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a href="#app/home" class="button button-icon nav-clear menu-close ion-ios-home-outline"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="none"></ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="left">
        <ion-header-bar  ng-show="1"  class="menus bar-light">
          <span ng-if="!user">
            <h3 class="padding">
                <a class="ion-person padding-left" menu-close ng-click="showLogin()">&nbsp;&nbsp;
                    {{'login' | translate}}</a>&nbsp;|
                <em><a menu-toggle="left" href="#app/register">{{'register' | translate}}</a></em>
            </h3>
          </span>
          <span ng-if="user">
            <h3 class="padding">
              <span ng-if="!user.avatar">
                <span class="ion-person"></span>
              </span>
              <span ng-if="!!user.avatar">
                <img src="{{user.avatar}}" width="48" height="48">
              </span>
              <span class="drawer-logined padding-horizontal">
                <div><a href="#app/frame/account/edit">{{user.name}}</a></div>
                <div><a href="#app/frame/account/edit">{{user.email}}</a></div>
    		  </span>
            </h3>
          </span>
            <span class="icon icon-close pull-right menu-close"></span>
        </ion-header-bar>
        <ion-content class="menus-content">
            <ion-list>
                <a nav-clear menu-close href="#app/home"
                   ng-class="{'button-assertive': getActiveClass(0)}"
                   class="button button-full button-light icon icon-left ion-ios-home-outline">
                    <span class="padding-horizontal">{{'home' | translate}}</span>
                </a>
                <a nav-clear ng-click="menuClose()" href="#app/searchAdv"
                   class="button button-full button-light icon icon-left ion-ios-search-strong">
                    <span class="padding-horizontal">{{'product_searchadv' | translate}}</span>
                </a>
                <a nav-clear ng-click="menuClose()" href="#app/lists/daily_sale"
                   class="button button-full button-light icon icon-left ion-ios-pricetags-outline">
                    <span class="padding-horizontal">{{'latest_promotions' | translate}}</span>
                </a>
                <a nav-clear ng-click="menuClose()" href="#app/lists/new"
                   class="button button-full button-light icon icon-left ion-ios-star-outline">
                    <span class="padding-horizontal">{{'common_products' | translate}}</span>
                </a>
                <a nav-clear ng-click="menuClose()" href="#app/certDownload"
                   class="button button-full button-light icon icon-left ion-clipboard">
                    <span class="padding-horizontal">{{'cert_download' | translate}}</span>
                </a>
                <a nav-clear ng-click="menuClose()" href="#app/searchAgent"
                   class="button button-full button-light icon icon-left ion-ios-location">
                    <span class="padding-horizontal">{{'search_agent' | translate}}</span>
                </a>
                <a nav-clear ng-click="menuClose()" href="#app/frame/survey"
                   class="button button-full button-light icon icon-left ion-android-checkbox-outline">
                    <span class="padding-horizontal">{{'survey' | translate}}</span>
                </a>
                <!--暂时注释不需要--
                <span ng-if="user">
                  <a menu-toggle="left" href="#app/frame/account"
                     class="button button-full button-light icon icon-left ion-ios-cloud-outline">
                      <span class="padding-horizontal">{{'my_account' | translate}}</span>
                  </a>
                  <a menu-toggle="left" href="#app/frame/order"
                     class="button button-full button-light icon icon-left ion-ios-list-outline">
                      <span class="padding-horizontal">{{'my_orders' | translate}}</span>
                  </a>
                  <a menu-toggle="left" href="#app/frame/address"
                     class="button button-full button-light icon icon-left ion-ios-location-outline">
                      <span class="padding-horizontal">{{'address_book' | translate}}</span>
                  </a>
                  <a menu-toggle="left" href="#app/frame/wishlist"
                     class="button button-full button-light icon icon-left ion-android-favorite-outline">
                      <span class="padding-horizontal">{{'wish_list' | translate}}</span>
                  </a>         
                  <div class="item item-divider"></div>
                </span>
                end注释 -->
                <div class="item item-divider"></div>
                <a menu-toggle="left" href="#app/setting" class="item icon icon-left ion-ios-gear-outline">
                    <span class="padding-horizontal">{{'settings' | translate}}</span>
                </a>
                <a ng-if="!!user" ng-click="doLogout();menuClose()"
                   class="item icon icon-left ion-log-out">
                    <span class="padding-horizontal">{{'logout' | translate}}</span>
                </a>
                <a ng-if="!isIOS" ng-click="showExit()"
                   class="item icon icon-left ion-android-exit">
                    <span class="padding-horizontal">{{'exit' | translate}}</span>
                </a>
                <a ng-show="0" ng-click="menuClose();welcome()"
                   class="item icon icon-left ion-android-exit">
                    <span class="padding-horizontal">{{'welcome' | translate}}</span>
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
