<ion-content overflow-scroll="false">
    <div class="list padding">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;在新力印章，您的信任对我们而言意味着一切。正因如此，我们尊重你的隐私，并使用强大的技术来保护它们，更以严格的政策来管理所有数据的处理方式。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;安全和隐私是我们设计所有硬件、软件与服务的基础。同时，我们还在持续不断地改进与完善。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;我们坚信，那些关乎个人信息的事，都应事先如实告知于你，并在你与我们共享它们之前征得你的许可。如果你稍后改变了主意，我们也能让你轻松停止与我们的共享。当我们请求使用你的数据时，其目的是为你提供更好的用户体验。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;我们发布这个内容，是为了说明我们如何处理你的个人信息，我们会收集和不会收集哪些信息，以及其中的原因。我们将确保让你能至少每年一次于本App获得有关 新力 隐私政策的更新，并及时获悉我们政策的重大变化。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;我们会采集您的姓名、电话、邮件、地址这些基本用户信息，我们获取的用户基础信息只会用于新力印章的业务与营销。我们App内所有的业务和广告都是服务于新力印章的。。我们从未与任何第三方公司或机构就任何产品或服务建立过所谓的 &quot;后门&quot;，并且永远不会。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;我们对保护个人隐私的承诺，源于对消费者深深的尊重。我们知道，获得你的信任并非易事。也正因如此，我们才一如既往地全力以赴，来赢得并保持这份信任。</p>
    </div>
    <br>
    <br>
    <br>
</ion-content>
