<ion-view view-title="{{'product_detail' | translate}}">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-icon nav-clear menu-close ion-android-share-alt" ng-click="onShare()"></a>
            <a href="#app/lists" class="button button-icon nav-clear menu-close ion-ios-home-outline"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="product-container">
        <!-- product base card -->
        <div class="card padding-horizontal">
            <!-- img swiper -->
            <div class="product-swiper-container">
                <ion-slide-box delegate-handle="image-viewer" show-pager="true">
                    <ion-slide ng-repeat="img in productImg" ng-init="updateSlider()">
                        <img ng-src="{{img.url}}" ng-click="imageFullscreen()"><span></span>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <!-- end img swiper -->
            <h4>{{product.name}}</h4>

          <div class="price-box">
              <span ng-if="product.discount != null" class="special-price">
                  <span class="price">{{product.symbol}}&nbsp;{{totalPrice}}</span>
                  <span class="old-price padding-horizontal">{{oldPrice}}</span>
              </span>
              <span ng-if="product.discount == null" class="special-price">
                  <span class="price">{{product.symbol}}&nbsp;{{oldPrice}}</span>
              </span>
              <!--当前项目不用
              <div ng-if="product.is_in_stock" class="availability in-stock">
                  <span>{{'in_stock' | translate}}</span>
                  <em class="shipping">{{'free_shipping' | translate}}</em>
              </div>
              <div ng-if="!product.is_in_stock" class="availability out-of-stock">
                  <span>{{'out_of_stock' | translate}}</span>
              </div>
              end 当前项目-->
            </div>
        </div>
        <!-- end product base card -->
        <!-- product option-->
        <div class="">
            <form method="post" id="product_addtocart_form">
                <div class="no-none">
                    <input type="hidden" name="product" value="{{product.entity_id}}">
                </div>
                <dl class="list product-option-container">
                          <div class="qty-holder">
                              <div class="item item-input-inset">
                                  <label class="item item-input">
                                      <span class="input-label">{{'quantity' | translate}}</span>
                                      <em class="assertive">*</em>
                                  </label>

                                  <span class="input-number-decrement" ng-click="qtyMinus()">–</span>
                                  <input class="input-number" type="text" name="qty" id="qty"
                                         ng-model="qty" min="1" max="99"
                                         title="Qty">
                                  <span class="input-number-increment" ng-click="qtyAdd()">+</span>
                              </div>
                          </div>

                        <div ng-repeat="option in productOption" ng-switch on="option.custom_option_type">
                              <!-- field option-->
                        <div class="form__field" ng-switch-when="field">
                            <label class="item item-input">
                                <span class="input-label">
                                    {{option.custom_option_title}}
                                    <em ng-if="option.is_require" class="assertive">*</em>
                                    <em ng-if="option.price > 0">+{{product.symbol}}&nbsp;{{option.price}}</em>
                                </span>
                                <input type="text" class="form__textfield textfield product-custom-option"
                                       name="options[{{option.option_id}}]"
                                       data-price="{{option.price}}">
                            </label>
                        </div>
                        <!--end field option-->

                        <!-- drop_down option-->
                        <div class="form__field" ng-switch-when="drop_down">
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    {{option.custom_option_title}}
                                    <em ng-if="option.is_require==1" class="assertive">*</em>
                                </div>
                                <select name="options[{{option.option_id}}]"
                                        ng-model="_detail"
                                        ng-change="updatePrice()"
                                        class="select-dark product-custom-option validation-failed">
                                    <option value="">-- Please Select --</option>
                                    <option ng-repeat="item in option.custom_option_value"
                                            value="{{item.option_type_id}}" data-price="{{item.price}}">
                                        {{item.title}}&nbsp;
                                        <em ng-if="item.price > 0">+{{product.symbol}}&nbsp;{{item.price}}</em>
                                    </option>
                                </select>
                            </label>
                        </div>
                        <!-- end drop_down option-->

                        <!-- check option-->
                        <div class="form__field" ng-switch-when="checkbox">
                            <label class="item">
                                {{option.custom_option_title}}
                                <em ng-if="option.is_require==1" class="assertive">*</em>
                            </label>
                            <ul class="list padding-left">
                                <li class="item item-checkbox checkbox-dark"
                                    ng-repeat="item in option.custom_option_value">
                                    <label for="options_{{item.option_id}}_{{$index+2}}" class="checkbox">
                                        <input type="checkbox" class="product-custom-option"
                                               ng-click="updatePrice()" name="options[{{item.option_id}}][]"
                                               value="{{item.option_type_id}}" data-price="{{item.price}}">
                                    </label>
                                    {{item.title}}&nbsp;
                                    <em ng-if="item.price > 0">+{{product.symbol}}&nbsp;{{item.price}}</em>
                                </li>
                            </ul>
                        </div>
                        <!--end check option-->

                        <!-- radio option-->
                        <div class="form__field" ng-switch-when="radio">
                            <label class="item item-input">
                                <div class="input-label">
                                    {{option.custom_option_title}}
                                    <em ng-if="option.is_require==1" class="assertive">*</em>
                                </div>
                            </label>

                            <div class="select-options">
                                <input type="hidden" name="options[{{option.option_id}}]"
                                       value="{{selectOptions['custom_option_value' + option.option_id]}}">
                                    <span ng-repeat="item in option.custom_option_value" data-value="{{item.option_type_id}}"
                                          class="{{selectOptions['custom_option_value' +
                                          $parent.option.option_id] === item.option_type_id ? 'selected' : ''}}"
                                          ng-click="selectOption('custom_option_value')"
                                          data-price="{{item.price}}">
                                        {{item.title}}&nbsp;
                                        <em ng-if="item.price > 0">+{{product.symbol}}&nbsp;{{item.price}}</em>
                                  </span>
                            </div>
                        </div>
                        <!--end radio option-->

                        <!-- area option-->
                        <div class="form__field" ng-switch-when="area">
                            <label class="item">
                                <span class="input-label">
                                    {{option.custom_option_title}}
                                    <em ng-if="option.is_require==1" class="assertive">*</em>&nbsp;
                                    <em ng-if="item.price > 0">+{{product.symbol}}&nbsp;{{item.price}}</em>
                                </span>

                                <div class="item">
                                    <textarea  id="options_{{option.option_id}}_text"
                                              class="form__textarea product-custom-option"
                                               name="options[{{option.option_id}}]">
                                    </textarea>
                                </div>
                            </label>
                        </div>
                        <!--end area option-->

                        <!-- Date option-->
                        <div class="form__field" ng-switch-when="date">
                            <label class="item item-input">
                                <span class="input-label">
                                    {{option.custom_option_title}}
                                    <em ng-if="option.is_require" class="assertive">*</em>
                                    <em ng-if="option.price > 0">+{{product.symbol}}&nbsp;{{option.price}}</em>
                                </span>
                                <input type="date" class="form__textfield textfield product-custom-option"
                                       placeholder="yyyy-MM-dd"
                                       name="options[{{option.option_id}}][date]"
                                       data-price="{{option.price}}">
                            </label>
                        </div>
                        <!--end Date option-->

                            <!-- multiple option--,因为不美观，暂时不用
                            <div class="form__field"  ng-switch-when="multiple">
                              <label class="item">{{option.custom_option_title}}</label>
                                  <div class="input-box">
                                    <select name="options[{{option.option_id}}][]" id="select_{{option.option_id}}" class="multiselect product-custom-option" title="" multiple="multiple" onchange="opConfig.reloadPrice()">
                                    <option ng-repeat="item in option.custom_option_value" value="{{item.option_type_id}}" price="{{item.price}}">{{item.title}} +{{product.symbol}}&nbsp;{{item.price}}</option>
                                    </select>
                                  </div>
                            </div>
                            <!--end multiple option-->

                        <div class="item input-box" ng-switch-when="multiple">
                            Multiple option not support, Please use check option
                        </div>
                        <div class="item input-box" ng-switch-when="date_time">
                            DateTime option not support
                        </div>
                        <div class="item input-box" ng-switch-when="time">
                            Time option not support
                        </div>
                        <div class="item input-box" ng-switch-when="file">
                            File option not support
                        </div>
                    </div>
                </dl>
            </form>
        </div>
        <!-- end product option-->
    <!-- product descript-->
        <div class="product-description padding-horizontal">
            <h3>{{'product_description' | translate}}</h3>
            <div class="list padding-horizontal"  ng-bind-html="product.description | unsafe">
            </div>
            <h3>{{'product_additional' | translate}}</h3>
            <div class="list padding-horizontal">
                <div class="row" ng-repeat="item in product.additional" ng-if="item.value!='N/A' && item.value!='No'">
                    <div class="col">{{item.label}}:</div>
                    <div class="col col-50">{{item.value}}</div>
                </div>
            </div>
        </div>
        <br><br><br>
        <!-- end product descript-->

    </ion-content>


    <div class="bar bar-footer bar-stable add-to-cart">
    <a class="add-to-cart-left button button-outline button-assertive ion-android-cart" href="#app/cart">
      &nbsp;{{items_qty}}</a>
    <button class="button add-to-cart-right button-assertive" type="submit" ng-click="doCartAdd()">
      {{'add_to_cart' | translate}}
    </button>
    </div>
</ion-view>
