<ion-view view-title="{{'search_agent' | translate}}">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">{{'input_address' | translate}}</span>
              <input type="text" autofocus placeholder="{{input_address_hint | translate}}" id="address-input" ng-model="address.text">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'input_radius' | translate}}</span>
                <input type="text" placeholder="{{input_radius_hint | translate}}" id="radius-input" ng-model="radius.text" value="200">
            </label>
        </div>
        <div class="padding">
            <button class="button button-full button-assertive" ng-click="onSearch()">{{'search' | translate}}</button>
        </div>
    </ion-content>
</ion-view>
