<ion-view view-title="{{searchTitle}}">
    <ion-content scroll="false" overflow-scroll="true">
        <ion-content lazy-scroll style="height:100%" overflow-scroll="true" direction="y" locking="true">
            <ion-refresher
                    pulling-text="{{'pull_to_refresh' | translate}}"
                    on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list class="products-grid">
                <div class="product" ng-repeat="product in results">
                    <div class="product-inner">
                        <a href="#app/productDetail/{{product.entity_id}}">
                            <div class="product-image">
                                <img image-lazy-src="{{product.image_url}}"
                                     lazy-scroll-resize="true"
                                     image-lazy-loader="lines">
                            </div>
                        </a>

                        <div class="product-info">
                            <div class="product-name">
                                {{product.name}}
                            </div>

                            <div  class="product-price">
                                <div class="price-box">
                                  <span ng-if="product.discount != null" class="special-price">
                                      <span class="special-price">
                                          <span class="price">
                                              {{product.symbol}}{{product.final_price_with_tax}}
                                          </span>
                                          &nbsp;
                                          <span class="old-price">
                                              {{product.regular_price_with_tax | number:0}}
                                          </span>
                                      </span>
                                  </span>
                                  <span ng-if="product.discount == null" class="special-price">
                                      <span class="special-price">
                                          <span class="price">
                                              {{product.symbol}}{{product.regular_price_with_tax}}
                                          </span>
                                      </span>
                                  </span>
                                  <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                                      <span class="price">
                                          {{product.discount}}
                                      </span>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product" ng-if="noProductFound">
                    {{'no_product_found' | translate}}
                </div>
            </ion-list>
            <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="15%">
            </ion-infinite-scroll>
        </ion-content>
    </ion-content>
</ion-view>
