<ion-view view-title="{{'product_searchadv' | translate}}">
    <ion-content class="search-container">
        <form id="searAdv">
            <dl class="list product-option-container">
                <!-- category select option-->
                <div class="form__field">
                    <label class="item item-input item-select">
                        <span class="input-label">{{'Categories' | translate}}</span>
                        <select name="categoryid" class="select-dark" title="{{cat_field.name}}">
                            <option value="">{{'All' | translate}}</option>
                            <option ng-repeat="item in cat_field" value="{{item.category_id}}">
                                {{item.name}}
                            </option>
                        </select>
                    </label>
                </div>
                <!-- end category select option-->

                <h3>
                    {{'must_select_one' | translate}}
                </h3>

                <div ng-repeat="field in searchFields" ng-switch on="field.attributeType">
                    <!-- field type: text,textarea,date,boolean,multiselect,select,price,media_image,weee-->

                    <!--text option-->
                    <div class="form__field" ng-switch-when="text">
                        <label class="item item-input">
                            <span class="input-label">{{field.label}}</span>
                            <input type="text" name="{{field.code}}">
                        </label>
                    </div>
                    <!--end text option-->

                    <!--price option-->
                    <div class="form__field" ng-switch-when="price">
                        <label class="item item-input">
                            <span class="input-label">{{field.label}}</span>
                            <input type="text" title="{{field.label}}" name="{{field.code}}[from]" pattern="\d*">
                            <span class="separator">-&nbsp;&nbsp;</span>
                            <input type="text" title="{{field.label}}" name="{{field.code}}[to]" pattern="\d*">
                        </label>
                    </div>
                    <!--end price option-->

                    <!-- select option-->
                    <div class="form__field" ng-switch-when="select">
                        <label ng-if="field.code=='a_guige'" class="item item-input item-select">
                            <span class="input-label">{{field.label}}</span>
                            <select name="{{field.code}}" id="{{field.code}}"
                                    class="select-dark"
                                    title="{{field.label}}"
                                    ng-model="searAdvData[field.label]"
                                    ng-options="item.option_id as item.value for item in field.attributeValue | filter:_xingzhuang"
                                    ng-change="optionChange()">
                                <option value="">{{'All' | translate}}</option>
                            </select>
                        </label>
                        <label ng-if="field.code!='a_guige'" class="item item-input item-select">
                            <span class="input-label">{{field.label}}</span>
                            <select name="{{field.code}}"
                                    class="select-dark"
                                    title="{{field.label}}"
                                    ng-model="searAdvData[field.label]"
                                    ng-change="optionChange()">
                                <option value="">{{'All' | translate}}</option>
                                <option ng-repeat="item in field.attributeValue" value="{{item.option_id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </label>
                    </div>
                    <!-- end select option-->

                    <!-- boolean option-->
                    <div class="form__field" ng-switch-when="boolean">
                        <label class="item item-input">
                            <span class="input-label">{{field.label}}</span>
                            <label class="item item-radio">
                                <input name="{{field.code}}" type="radio" value="1">
                                <div class="item-content"> {{'Yes' | translate}}</div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input name="{{field.code}}" type="radio" value="0">
                                <div class="item-content"> {{'No' | translate}}</div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </label>
                    </div>
                    <!-- end boolean option-->

                    <!-- field type: text,textarea,date,boolean,multiselect,select,price,media_image,weee-->
                    <div class="item input-box" ng-switch-when="textarea">
                        textarea option not support
                    </div>
                    <div class="item input-box" ng-switch-when="date">
                        Date option not support
                    </div>
                    <div class="item input-box" ng-switch-when="multiselect">
                        multiselect option not support
                    </div>
                    <div class="item input-box" ng-switch-when="media_image">
                        media_image option not support
                    </div>
                    <div class="item input-box" ng-switch-when="weee">
                        weee option not support
                    </div>
                </div>

                <div class="padding">
                    <div class="button-bar">
                        <button type="reset" class="button button-outline button-assertive" ng-click="onReset()">{{'reset' | translate}}</button>
                        <button type="submit" class="button  button-assertive" ng-click="onSearch()">{{'search' | translate}}</button>
                    </div>
                </div>
            </dl>
        </form>
    </ion-content>
</ion-view>
