<ion-view view-title="{{'product_searchadv' | translate}}">
    <ion-content>
        <form ng-submit="onSearch()">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input autofocus type="text" placeholder="{{'enter_the_key' | translate}}"
                           ng-model="searchData.text">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-full button-assertive">{{'quick_search' | translate}}</button>
            </div>
        </form>
    </ion-content>
</ion-view>
