<ion-view view-title="产品查询" hide-back-button="true">
    <ion-content>
        <form ng-submit="onSearch()">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input autofocus type="text" placeholder="Please input the key word"
                           ng-model="searchData.text">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-full button-assertive">SEARCH</button>
            </div>
        </form>
    </ion-content>
</ion-view>
