<ion-view view-title="{{'settings' | translate}}">
    <ion-content>
        <ul class="list">
            <li class="item">
                <h2>{{'language' | translate}}</h2>
                <label class="item item-radio" ng-repeat="language in languages">
                    <input ng-click="changeLocale()" type="radio" name="locale"
                           ng-model="locale" value="{{language.store_code}}">

                    <div class="item-content">
                        <span class="padding-horizontal">{{language.name}}</span>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </li>
            <li class="item" ng-click="$root.welcome()">
                {{'welcome' | translate}}
            </li>
            <li class="item">
                {{'version' | translate}}{{'colon' | translate}} v3.1.12
            </li>
        </ul>
    </ion-content>
</ion-view>
