<?xml version="1.0"?>
<config>
    <modules>
        <Sunpop_News>
            <version>1.0.2</version><platform>ce</platform>
        </Sunpop_News>
    </modules>
    <admin>
        <routers>
            <clnews>
                <use>admin</use>
                <args>
                    <module>Sunpop_News</module>
                    <frontName>clnews</frontName>
                </args>
            </clnews>
        </routers>
    </admin>
    <frontend>
        <routers>
            <clnews>
                <use>standard</use>
                <args>
                    <module>Sunpop_News</module>
                    <frontName>clnews</frontName>
                </args>
            </clnews>
        </routers>
        <layout>
            <updates>
                <clnews>
                    <file>clnews.xml</file>
                </clnews>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sunpop_News>
                    <files>
                        <Sunpop_News>Sunpop_News.csv</Sunpop_News>
                    </files>
                </Sunpop_News>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Sunpop_News>
                    <files>
                        <default>Sunpop_News.csv</default>
                    </files>
                </Sunpop_News>
            </modules>
        </translate>

        <menu>
            <clnews module="clnews">
                <title>News</title>
                <sort_order>80</sort_order>
                <children>
                    <add translate="title" module="clnews">
                        <title>Add News Article</title>
                        <sort_order>0</sort_order>
                        <action>clnews/adminhtml_news/new</action>
                    </add>
                    <items translate="title" module="clnews">
                        <title>News Manager</title>
                        <sort_order>10</sort_order>
                        <action>clnews/adminhtml_news/index</action>
                    </items>
                    <category module="clnews">
                        <title>Categories</title>
                        <sort_order>20</sort_order>
                        <action>clnews/adminhtml_category/</action>
                    </category>
                    <comments module="clnews">
                        <title>Comments</title>
                        <sort_order>30</sort_order>
                        <action>clnews/adminhtml_comment/</action>
                    </comments>
                    <settings translate="title" module="clnews">
                        <title>Settings</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/system_config/edit/section/clnews</action>
                    </settings>
                </children>
            </clnews>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <clnews>
                            <title>News</title>
                            <sort_order>50</sort_order>
                            <children>
                                <items translate="title">
                                    <title>News</title>
                                    <sort_order>10</sort_order>
                                </items>
                                <category translate="title">
                                    <title>Categories</title>
                                    <sort_order>20</sort_order>
                                </category>
                                <comments translate="title">
                                    <title>Comments</title>
                                    <sort_order>30</sort_order>
                                </comments>
                            </children>
                        </clnews>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <clnews>
                                            <title>News Section</title>
                                        </clnews>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <clnews>
                    <file>clnews.xml</file>
                </clnews>
            </updates>
        </layout>
        <events>
            <!-- 
            <controller_action_predispatch>
                <observers>
                    <clnews>
                        <type>singleton</type>
                        <class>clnews/check</class>
                        <method>checkExtensions</method>
                    </clnews>
                </observers>
            </controller_action_predispatch> -->
            <admin_system_config_changed_section_clnews>
                <observers>
                    <admin_system_config_changed_section_clnews>
                        <class>clnews/check</class>
                        <method>checkConfiguration</method>
                    </admin_system_config_changed_section_clnews>
                </observers>
            </admin_system_config_changed_section_clnews>
        </events>
    </adminhtml>
    <global>
        <models>
            <clnews>
                <class>Sunpop_News_Model</class>
                <resourceModel>clnews_mysql4</resourceModel>
            </clnews>
            <clnews_mysql4>
                <class>Sunpop_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>clnews_news</table>
                    </news>
                    <comment>
                        <table>clnews_comment</table>
                    </comment>
                    <category>
                        <table>clnews_category</table>
                    </category>
                    <news_category>
                        <table>clnews_news_category</table>
                    </news_category>
                    <!--<store>
                        <table>clnews_store</table>
                    </store>-->
                    <news_store>
                        <table>clnews_news_store</table>
                    </news_store>
                    <category_store>
                        <table>clnews_category_store</table>
                    </category_store>
                </entities>
            </clnews_mysql4>
        </models>
        <resources>
            <clnews_setup>
                <setup>
                    <module>Sunpop_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </clnews_setup>
            <clnews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </clnews_write>
            <clnews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </clnews_read>
        </resources>
        <blocks>
            <clnews>
                <class>Sunpop_News_Block</class>
            </clnews>
        </blocks>
        <helpers>
            <clnews>
                <class>Sunpop_News_Helper</class>
            </clnews>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <clnews>
                        <type>singleton</type>
                        <class>Sunpop_News_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </clnews>
                </observers>
            </controller_front_init_routers>
        </events>
        <rewrite>
            <clnews_category_view>
                <complete />
                <from>#^/clnews/category/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/clnews/index/index/category/$1</to>
            </clnews_category_view>
            <clnews_newsitem_view>
                <complete />
                <from>#^/clnews/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/clnews/newsitem/view/key/$1</to>
            </clnews_newsitem_view>
            <clnews_newsitem_category_view>
                <complete />
                <from>#^/clnews/([A-Za-z0-9\-\_]+)/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/clnews/newsitem/view/category/$1/key/$2</to>
            </clnews_newsitem_category_view>
        </rewrite>
        <template>
            <email>
                <clnews_comments_email_template translate="label" module="clnews">
                    <label>New Comment</label>
                    <file>clnews/new_comment.html</file>
                    <type>text</type>
                </clnews_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <clnews>
            <news>
                <title>News</title>
                <route>news</route>
                <showbreadcrumbs>1</showbreadcrumbs>
                <itemsperpage>10</itemsperpage>
                <itemurlsuffix>.html</itemurlsuffix>
                <showdateofnews>1</showdateofnews>
                <showtimeofnews>0</showtimeofnews>
                <shortdescr_image_max_width>150</shortdescr_image_max_width>
                <shortdescr_image_max_height>120</shortdescr_image_max_height>
                <fulldescr_image_max_width>400</fulldescr_image_max_width>
                <fulldescr_image_max_height>300</fulldescr_image_max_height>
                <resize_to_max>1</resize_to_max>
            </news>
            <comments>
                <enabled>1</enabled>
            </comments>
        </clnews>
    </default>
</config>
