@charset "utf-8";
/**
*文件用途说明:YUI CSS Reset
*作者姓名:李净（仅创建者修改）
*联系方式:15210208547
*制作日期:2014/07/19
**/
/* -- 重置浏览器默认样式 -- */
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body, html, a, section, article, aside, header, hgroup, footer, nav, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, span, fieldset, input[type="text"], input[type="password"], input[type="button"], textarea, button, select, figure, figcaption, figure {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video {display: inline-block;*display: inline;*zoom: 1;}
input,select,textarea,button{font-size:100%;font-family:inherit;-moz-box-sizing: border-box;box-sizing: border-box;}
input[type=text],input[type=button],textarea, button{-webkit-appearance:none;}
fieldset, img, button, input[type=button],input[type=text], input[type=password],input[type=number],input[type=email] {border:0;}
table{ border-collapse:collapse;border-spacing:0;table-layout:fixed;}
html,body{-webkit-text-size-adjust:none;}  
/* remember to define focus styles! */
:focus{outline:0;}
address, caption, cite, code, dfn,em, strong, th, var, optgroup,i{font-style:normal;font-weight:normal;}
h4, h5, h6{font-size:13px;font-weight:normal; word-break: break-all;}
abbr, acronym{border:0;font-variant:normal;}
input, button, textarea,select, optgroup, option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code, kbd, samp, tt{font-size:100%;}
ul,ol{ list-style:none; padding:0px; margin:0px;}
/*-----文字类-----*/
/*文字颜色*/
.font_white {color:#fff;}
/*文字阴影*/
.font_shadow {text-shadow: 1px 2px rgba(0, 0, 0, 0.4);}
/*文字加粗倾斜下划线*/
.fb{font-weight:bold;}
.i{font-style:italic;}
.u{text-decoration:underline;}
/*文字对齐*/
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
/* == clearfix == */
.clearfix:after {clear: both;content: '.';display: block;height: 0;visibility: hidden;line-height: 0}
.clearfix {*zoom:1}
.fl {float: left}
.fr {float: right}
.clear {clear: both}
/*常用字号和行距*/
.f10{font-size:10px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{ font-size:18px;}.f20{font-size:20px;}.f22{font-size:22px;}.f24{font-size:24px;}
.lh14{line-height:14px;}.lh16{line-height:16px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}
/*form*/
input,select,label{vertical-align:middle; border:none;}
/* 去除默认边框 */
a,img{ border:none;}
/*margin类（包括上右下左,1、2、5、10、20）*/
.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt8{margin-top:8px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}
.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr30{margin-right:30px;}
.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.mb30{ margin-bottom:30px;}
.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.mr50{ margin-right:50px;}
.mt7{margin-top:7px;}
/*padding类（包括上右下左,1、2、5、10、20）*/
.p1{padding:1px;}.p2{padding:2px;}.p5{padding:5px;}.p10{padding:10px;}.p20{padding:20px;}
.pt1{padding-top:1px;}.pt2{padding-top:2px;}.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt20{padding-top:20px;}
.pr1{padding-right:1px;}.pb2{padding-bottom:2px;}.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr20{padding-right:20px;}
.pb1{padding-bottom:1px;}.pr2{padding-right:2px;}.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb20{padding-bottom:20px;}
.pl1{padding-left:1px;}.pl2{padding-left:2px;}.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl20{padding-left:20px;}
/*公用间距*/
.blank5{ height:5px; overflow:hidden; display:block; clear:both;}
.blank10{ height:10px; overflow:hidden; display:block; clear:both;}
.blank15{ height:15px; overflow:hidden; display:block; clear:both;}
.blank20{height:20px; overflow:hidden; display:block; clear:both;}
.blank30{height:30px; overflow:hidden; display:block; clear:both;}
/*字体*/
@font-face {
  font-family: 'iconfont';
  src: url("font_1421856281_183794.eot"/*tpa=http://at.alicdn.com/t/font_1421856281_183794.eot*/); /* IE9*/
  src: url("font_1421856281_183794.eot-#iefix"/*tpa=http://at.alicdn.com/t/font_1421856281_183794.eot?#iefix*/) format('embedded-opentype'), /* IE6-IE8 */
  url("font_1421856281_183794.woff"/*tpa=http://at.alicdn.com/t/font_1421856281_183794.woff*/) format('woff'), /* chrome、firefox */
  url("font_1421856281_183794.ttf"/*tpa=http://at.alicdn.com/t/font_1421856281_183794.ttf*/) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("font_1421856281_183794.svg#iconfont"/*tpa=http://at.alicdn.com/t/font_1421856281_183794.svg#iconfont*/) format('svg'); /* iOS 4.1- */
}
.iconfont {display: inline-block;font-family:"iconfont";font-style: normal;-webkit-font-smoothing: antialiased;	-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration:underline;}
/* 默认不显示下划线，保持页面简洁 */
ins,a {text-decoration:none;}
/*定义一下其他需要的样式*/
.none{ display:none;}
.block{ display:block;}



